* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #FFF7ED;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #F59E0B;
}

/* Section */
.section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section h3 {
  margin-bottom: 15px;
}

/* Bar Chart */
.bar {
  margin-bottom: 15px;
}

.bar span {
  display: block;
  margin-bottom: 5px;
}

.progress {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 10px;
}

.progress div {
  height: 100%;
  background: #22C55E;
  border-radius: 10px;
}

/* Pie Chart */
.pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  background: conic-gradient(
    #F59E0B 0% 40%,
    #22C55E 40% 70%,
    #EF4444 70% 100%
  );
}

/* Legend */
.legend {
  margin-top: 15px;
  text-align: center;
}

.legend p {
  margin: 5px 0;
}

.box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.box.html {
  background: #F59E0B;
}

.box.css {
  background: #22C55E;
}

.box.java {
  background: #EF4444;
}

/* Export Buttons */
.export {
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.pdf {
  background: #EF4444;
}

.excel {
  background: #22C55E;
}

button:hover {
  opacity: 0.8;
}